{% extends "base.html" %} 
{% load crispy_forms_tags %}
{% block title %} 
    - Update products 
{% endblock title %}
{% block main-content %}

<div class="container my-5">
  <div class="col-md-5">
    <h2 class="text-center text-secondary">Edit Products</h2>
    <form action="" method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      {{productForm | crispy }}
      <input type="submit" value="Save" class="btn btn-info w-100 my-3" />
    </form>
  </div>
</div>

{% endblock main-content %}
