*{
    margin: 0;
    box-sizing: border-box;
}
:root{
    --text-color: #444;
    --primary-color: #023b6d;
    --secondary-text-color:  #0d6efd;
}
a{
    text-decoration: none;
    color: var(--primary-color);
}
.asteriskField{
    color : red;
}
.form-group{
    margin-bottom: 5px;
}
.textarea{
    resize: none;
}
header .hid{
    background-color: var(--primary-color) !important;
}

/* footer styles */
footer.fid{
    background-color: var(--primary-color);
}

/* footerend footer style */

/* card style */

.card{
    height: 520px;
    width : 400px;
    margin: 10px;
    padding: 5px;
    img{
        height: 50%;
        width: auto ;

    }
}

/* end card style */