{% extends "base.html" %}

{% block main-content %}

Home Page

<div class="container caresol d-flex m-auto col-md-12">
  {% for product in products %}
<div class="card col-md-4" style="width: 18rem;">
  <img src="/{{product.image}}" class="card-img-top" alt="{{product.item}}">
  <div class="card-body">
    <h5 class="card-title">{{product.name}}</h5>
    <span class="card-text">
        <span class= 'fw-bold'>Price: </span>
        <del style = "color:red">Rs {{product.original_price}}</del>  
        <span> Rs {{product.selling_price}}</span></span><br>
    <span class="card-text">Stock : {{product.stock}} </span><br>
    <span class="card-text">{{product.description}}</span><br>
    <a href="#" class="btn btn-primary">BUY</a>
    <a href="#" class="btn btn-primary">Add to Cart</a>
  </div>
</div>
{% endfor %}
</div>

{% endblock main-content %}