<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Home Page</h1>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quis doloremque debitis atque sunt optio ipsa dolorem unde, eum dicta. Modi quis minus explicabo, iste fugiat consequatur voluptatum alias possimus perferendis facere ut unde beatae voluptate praesentium facilis nam ab dolor aperiam neque doloremque dicta saepe porro? Inventore quas at fuga.</p>
</body>
</html>