<footer class='fid'>
    <div class="footer-top container row d-flex justify-content-center m-auto mt-5">
            <div class="footer-logo-div col-xl-6 justify mb-4">
                <div class = 'd-flex '>
                    <a href="#"><img src="/{{data.favicon}}" alt="bootstrap" width="186"
                        height="26"></a><br>
                    <p  class = 'mx-3'>High quality free Bootstrap website templates. Build your next website with our modern and fully
                responsive web templates!</p>
                </div>
                <br>
                <div class="social-links d-flex mt-3">
                    <a href=""><i class="bi bi-twitter"></i></a>
                    <a href="{{data.fb_link}}"><i class="bi bi-facebook"></i></a>
                    <a href=""><i class="bi bi-rss"></i></a>
                    <a href=""><i class="bi bi-envelope"></i></a>
                </div>
            </div>
            <div class="footer-list-sollection col-xl-6 row">
                <div class="footer-list col-lg-6 justify">
                    <h4>Comapny</h4>
                    <ul type="none">
                        <li><a href="">Vision</a></li>
                        <li><a href="">About Us</a></li>
                        <li><a href="">Contact</a></li>
                    </ul>
                </div>
                
                <div class="footer-list col-lg-6 justify">
                    <h4>Popular Categories</h4>
                    <ul type="none">
                        <li><a href="">Clothing</a></li>
                        <li><a href="">Furniture</a></li>
                        <li><a href="">Electronics</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-buttom text-center">
            Copyright © 2026 Hissee's Store
        </div>
</footer>