<footer class='fid'>
    <div class="footer-top container row d-flex justify-content-center m-auto mt-5">
            <div class="footer-logo-div col-xl-6 justify mb-4">
                <a href="#"><img src="/{{data.favicon}}" alt="bootstrap" width="186"
                        height="26"></a>
                High quality free Bootstrap website templates. Build your next website with our modern and fully
                responsive web templates!
                <br>
                <div class="social-links d-flex mt-3">
                    <a href=""><i class="bi bi-twitter"></i></a>
                    <a href=""><i class="bi bi-facebook"></i></a>
                    <a href=""><i class="bi bi-rss"></i></a>
                    <a href=""><i class="bi bi-envelope"></i></a>
                </div>
            </div>
            <div class="footer-list-sollection col-xl-6 row">
                <div class="footer-list col-lg-4 justify">
                    <h3>Comapny</h3>
                    <ul type="none">
                        <li><a href="">&nbsp;License</a></li>
                        <li><a href="">&nbsp;PHP Email Form</a></li>
                        <li><a href="">&nbsp;Terms of service</a></li>
                        <li><a href="">&nbsp;Privacy policy</a></li>
                        <li><a href="">&nbsp;Bootstrap Builder</a></li>
                    </ul>
                </div>
                <div class="footer-list col-lg-4 justify">
                    <h3>Popular Templates</h3>
                    <ul type="none">
                        <li><a href="">&nbsp;Arsha</a></li>
                        <li><a href="">&nbsp;iPortfolio</a></li>
                        <li><a href="">&nbsp;OnePage</a></li>
                        <li><a href="">&nbsp;Mamba</a></li>
                        <li><a href="">&nbsp;Company</a></li>
                        <li><a href="">&nbsp;MyResume</a></li>
                    </ul>
                </div>
                <div class="footer-list col-lg-4 justify">
                    <h3>Popular Categories</h3>
                    <ul type="none">
                        <li><a href="">&nbsp;Bootstrap 5 Templates</a></li>
                        <li><a href="">&nbsp;Website Templates</a></li>
                        <li><a href="">&nbsp;One Page Template</a></li>
                        <li><a href="">&nbsp;Portfolio Templates</a></li>
                        <li><a href="">&nbsp;Free Website Templates</a></li>
                        <li><a href="">&nbsp;Business Templates</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-buttom text-center">
            Copyright © 2026 BootstrapMade
        </div>
</footer>