<header class = 'hid'>
  <div class = 'col-md-4 m-auto'>
    <form class="form-inline my-2 my-lg-0 d-flex w-">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
  <div class = 'nav-bar d-flex flex-wrap justify-space-between'>
    <div class = 'logo'>
      <h2>Hissee's Store</h2>
      {% comment %} <img src='/{{data.favicon}}' alt="" height = "100px"> {% endcomment %}
    </div>
    <div class = 'menu '>
      <a href="/">Home</a>
      <a href="{% url 'all-products' %}">Products</a>
      <a href="">Cart</a>
      <a href="">About</a>
      <a href="">Contact</a>
    </div>
    <div class = 'auth-btn  '>
      {% if user.is_authenticated %}
      <div class="dropdown show">
        <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{user.username}}
        </a>

        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
          <a class="dropdown-item" href="{% url 'login'  %}">Log out</a>
          <a class="dropdown-item" href="#">Switch Account</a>
          <a class="dropdown-item" href="#">Cart</a>
        </div>
      </div>
      {% else %}    
      <a class = 'btn btn-primary'>Login</a>
      <a class = 'btn btn-secondary'>Register</a>
    </div>
    {% endif %}
  </div>
</header>