{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}

    - Login

{% endblock title %}

{% block main-content %}

    <div class="container my-5">
        <div class="col-md-6 shadow p-3 m-auto">
        <form method = 'POST'>
        <h2 class='text-center text-secondary'>Login Now</h2>
            {% csrf_token %}
            {{loginForm | crispy}}
            <input type="submit" value='Login' class='btn btn-info w-100 my-30'>
        </form>
        </div>
    </div>

{% endblock main-content %}

